.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  background: rgb(255, 255, 255);
}
.box__r5Z6P {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px;
}
.box__r5Z6P > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__r5Z6P > :global(.__wab_flex-container) > *,
.box__r5Z6P > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__r5Z6P {
    padding: 16px 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButton__expanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton__expanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.box__egK5Q {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.linkButton___8FAb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___2JsNh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__ddS9U:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__xhLwG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__xCme7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__yCp9P {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.box__yCp9P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__yCp9P > :global(.__wab_flex-container) > *,
.box__yCp9P > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.iconLink__bJGna:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gEyLy {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: DPWj-Is8aKaQpe */;
  width: 18px;
  height: 18px;
}
.root .svg__gEyLy:hover {
  color: rgb(233, 156, 46) /* plasmic-token: kI_ZBQrLGbLEIB */;
}
.iconLink__krKH:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qMitq {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: DPWj-Is8aKaQpe */;
  width: 18px;
  height: 18px;
}
.root .svg__qMitq:hover {
  color: rgb(233, 156, 46);
}
.iconLink__yd2Qa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___1ETq6 {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: DPWj-Is8aKaQpe */;
  width: 18px;
  height: 18px;
}
.root .svg___1ETq6:hover {
  color: rgb(233, 156, 46) /* plasmic-token: kI_ZBQrLGbLEIB */;
}
.box__nMSxd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.linkButton__mhsBv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__i5IuY:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__dmjzo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__rPfGc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__bsZg6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
