.root {
  display: flex;
  width: 100%;
  height: 600px;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  min-width: 0;
  background: url("/plasmic/random_chungs_furn_e_commerce/images/tableBanner.bin") 0% 0% / cover;
}
.box__lUetk {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 33%;
  opacity: 0.95;
  min-height: 0;
  background: rgb(74, 76, 79);
}
.box__tNh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}
.box__tNh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__tNh > :global(.__wab_flex-container) > *,
.box__tNh > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
.box___9KbVq {
  position: relative;
  color: rgb(255, 255, 255) /* plasmic-token: DcwI70buDphuG9 */;
  font-size: 24px;
  font-weight: 700;
}
.box__pyLxm {
  position: relative;
  color: rgb(255, 255, 255) /* plasmic-token: DcwI70buDphuG9 */;
}
.box__rFaIa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__au3F {
  color: rgb(255, 255, 255) /* plasmic-token: DcwI70buDphuG9 */;
  font-size: 14px;
}
.box__qTwlT {
  position: relative;
  color: rgb(233, 156, 46) /* plasmic-token: kI_ZBQrLGbLEIB */;
}
.box___7FWsK {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___7FWsK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box___7FWsK > :global(.__wab_flex-container) > *,
.box___7FWsK > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.linkButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
